.vallechico {
    display: inline-table;
    margin: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    overflow: hidden;
    transition: .2s ease-in-out
  }
  
  
  .vallechico:hover {
    -webkit-box-shadow: -1px -4px 16px 5px rgb(54, 148, 93);
    -moz-box-shadow: -1px -4px 16px 5px rgb(216, 174, 69);
    box-shadow: -1px -4px 16px 5px rgb(159, 157, 79);
  }
  
  /* Estilos para la imagen de la tarjeta */
  .vallechico-img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Estilos para el contenido de la tarjeta */
  .vallechico-content {
    padding: 16px;
  }
  
  .vallechico-title {
    margin: 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .vallechico-description {
  
    color: #666;
  }
  
  
  
  .vallechico-link{
    list-style-type: none;
  }
  
  
 
  
  