.fiambala {
  display: inline-block; /* Cambiado a inline-block para mejor alineación */
  margin: 20px;
  background: #fff;
  border-radius: 12px; /* Bordes más redondeados para un look moderno */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más suave */
  max-width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición más suave */
}
.fiambala-details h2 {
  color: darkgoldenrod;
}
.fiambala:hover {
  transform: translateY(-5px) scale(1.02); /* Efecto de elevación y escala */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra más intensa en hover */
}

.fiambala-img {
  width: 100%;
  height: 180px; /* Altura fija para la imagen, mantener proporciones */
  object-fit: cover; /* Asegura que la imagen se recorte correctamente */
}

.fiambala-content {
  padding: 20px; /* Mayor espacio interior para un mejor look */
  text-align: left; /* Alineación de texto a la izquierda */
}

.fiambala-title {
  margin: 0 0 10px; /* Espacio abajo del título */
  font-size: 1.6em; /* Tamaño de fuente más grande */
  color: #2c3e50; /* Color de texto más oscuro para mejor legibilidad */
  font-weight: 600; /* Negrita para mayor énfasis */
}

.fiambala-description {
  margin: 0; /* Sin margen para la descripción */
  color: #7f8c8d; /* Color más suave para la descripción */
  line-height: 1.6; /* Mejora la legibilidad */
}

.fiambala-link {
  list-style-type: none;
  padding: 0; /* Sin padding */
  margin-top: 15px; /* Espacio superior para el enlace */
}

.fiambala-link a {
  display: inline-block; /* Enlace como bloque */
  padding: 10px 15px; /* Espacio interior */
  background-color: #3498db; /* Color de fondo atractivo */
  color: #fff; /* Texto blanco */
  border-radius: 6px; /* Bordes redondeados */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s ease; /* Transición para el fondo */
}

.fiambala-link a:hover {
  background-color: #2980b9; /* Color de fondo en hover */
}
