.card {
    display: inline-table;
    margin: 15px;
    background: #646cff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    overflow: hidden;
    transition: transform 0.2s;
  }
  
  
  .card:hover {
    transform: scale(1.05);
  }
  
  /* Estilos para la imagen de la tarjeta */
  .card-img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Estilos para el contenido de la tarjeta */
  .card-content {
    padding: 16px;
  }
  
  .card-title {
    margin: 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .card-description {
  
    color: #666;
  }
  
  
  
  .card-link{
    list-style-type: none;
  }
  
  
  button {
    border-radius: 8px;
    border: 1px solid ;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
    color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  button:active {
    border-color: red;
    color: white;
  }
  
  a{
    text-decoration: none;
    color: black;
  }