.antofagasta-de-la-sierra {
    display: inline-table;
    margin: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    overflow: hidden;
    transition: .2s ease-in-out;

  }
  
  
  .antofagasta-de-la-sierra:hover {
    -webkit-box-shadow: -1px -4px 16px 5px rgb(146, 175, 29);
    -moz-box-shadow: -1px -4px 16px 5px rgb(235, 187, 43);
    box-shadow: -1px -4px 16px 5px rgb(190, 66, 32);  }
  
  /* Estilos para la imagen de la tarjeta */
  .antofagasta-de-la-sierra-img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Estilos para el contenido de la tarjeta */
  .antofagasta-de-la-sierra-content {
    padding: 16px;
  }
  
  .antofagasta-de-la-sierra-title {
    margin: 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .antofagasta-de-la-sierra-description {
    margin: 8px 0;
    color: #666;
  }
  
  
  
  .antofagasta-de-la-sierra-link{
    list-style-type: none;
  }