.catamarca {
  height: auto;
  display: inline-block;
  margin: 20px; /* Mayor margen para espaciar mejor las tarjetas */
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); /* Sombra más suave y pronunciada */
  max-width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.catamarca-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catamarca-details h2 {
  color: #0d7b2c;
}
.catamarca:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); /* Sombra más difusa */
}

/* Estilos para la imagen de la tarjeta */
.catamarca-img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.catamarca:hover .catamarca-img {
  transform: scale(1.05); /* Zoom en la imagen al hacer hover */
}

/* Estilos para el contenido de la tarjeta */
.catamarca-content {
  padding: 20px;
  text-align: center;
}

.catamarca-title {
  margin: 0 0 10px; /* Espacio inferior */
  font-size: 1.7em; /* Aumento del tamaño de fuente */
  color: #333;
  font-weight: 600;
}

.catamarca-description {
  margin: 10px 0;
  color: #555;
  line-height: 1.6; /* Mejora la legibilidad */
}

/* Estilos para el mapa */
.catamarca-map {
  margin-top: 15px;
  border-radius: 8px;
  overflow: hidden;
}

.catamarca-map-iframe {
  height: 200px;
  transition: transform 0.3s ease;
}

.catamarca:hover .catamarca-map-iframe {
  transform: scale(1.01); /* Ligero zoom en el mapa al hacer hover */
}

/* Estilo para enlaces (opcional, si los usas) */
.catamarca-link {
  list-style-type: none;
  padding: 0;
  margin: 10px 0; /* Espacio para separar el enlace */
}

.catamarca-button {
  margin-top: 10px; /* Espaciado superior */
  background-color: #28a745; /* Color verde */
}

.catamarca-button:hover {
  background-color: #218838; /* Un verde más oscuro */
}

@media (max-width: 600px) {
  .catamarca {
    max-width: 90%; /* Ocupa más espacio en pantallas pequeñas */
  }
}
