:root {
  --footer-bg: #f9f9f9;
  --footer-text: #000;
}

.footer {
  padding: 15em 0; /* Espaciado más amplio */
  text-align: center;
  background-color: var(--footer-bg);
  color: var(--footer-text);
  transition: background-color 0.3s, color 0.3s;
   /* Asegura que esté en el pie de página */
  position: absolute; /* Asegura que el footer se mantenga en su lugar */
  bottom: 0;
  bottom: auto;
  width: 100%;
  margin-top: 0px;
  height: auto;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.social-links li {
  display: inline;
  margin: 0 10px;
}

.social-links a {
  text-decoration: none;
  color: inherit; /* Hereda el color del texto */
}

.social-links a:hover {
  text-decoration: underline; /* Efecto hover */
}
.footer {
  background-color: var(--footer-background, #fff);
  color: var(--footer-color, #000);
  padding: 66px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

/* Modo oscuro */
body.dark-mode .footer {
  --footer-background: #000;
  --footer-color: #fff;
}

body.light-mode .footer {
  --footer-background: #fff;
  --footer-color: #000;
}

  
