.footer {
  padding: 40px 20px; /* Espaciado */
  text-align: center;
  background-color: var(--footer-bg);
  color: var(--footer-text);
  transition: background-color 0.3s, color 0.3s;
  position: relative; /* Cambiado a relative para mejor manejo de posicionamiento */
  width: 100%;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.social-links li {
  display: inline;
  margin: 0 15px; /* Espaciado entre los enlaces */
}

.social-links a {
  text-decoration: none; /* Sin subrayado por defecto */
  color: inherit; /* Hereda el color del texto del footer */
  padding: 5px; /* Espacio alrededor del enlace */
  transition: color 0.3s; /* Transición suave para el color */
}

.social-links a:hover {
  color: #007bff; /* Color de hover */
  text-decoration: underline; /* Efecto hover */
}

/* Estilos para modo oscuro */
body.dark-mode .footer {
  background-color: #333;
  color: #fff;
}

body.light-mode .footer {
  background-color: #f9f9f9;
  color: #000;
}


  
