#root {
  text-align: center;
}
body{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  
}

footer{ 
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgb(250, 251, 253);
  margin-top: 20%;
  grid-template-rows: auto 1fr auto;
}

p{
  margin-left: 50px;
}