*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  justify-content: center;
  text-align: center;
}

.container{
  width: 100%; 
  transition: 0.5s;
}
.container.dark{
  background: #222;
}