/* Variables de color */
:root {
  --background-light: #fafafa; /* Fondo claro */
  --background-dark: #1c1c1c;  /* Fondo oscuro */
  --text-light: #000;          /* Texto en modo claro */
  --text-dark: #fff;           /* Texto en modo oscuro */
  --primary-color: #6cb7d0;    /* Color primario */
  --secondary-color: #71c54f;  /* Color secundario */
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  font-family: 'DM Serif Display', serif;
  transition: background-color 0.3s, color 0.3s; /* Transición suave para el cambio de modo */
}

body.light-mode {
  background-color: var(--background-light);
  color: var(--text-light);
}

body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

/* Estilo para el contenedor principal */
#root {
  position: relative;
}

/* Fondo en modo claro */
#root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Asegura que el fondo esté detrás del contenido */
  background: linear-gradient(135deg, var(--primary-color) 30%, transparent 30% 70%, var(--secondary-color) 70%);
  opacity: 0.5; /* Opacidad para suavizar el fondo */
  transition: opacity 0.3s; /* Transición suave */
}

/* Ocultar el fondo en modo oscuro */
body.dark-mode #root::before {
  display: none; /* Elimina el fondo animado en modo oscuro */
}

/* Estilos para los encabezados */
h2 {
  margin-top: 35px;
  font-size: revert;
  color: var(--primary-color)
}



